.vscode

# dataset for assignment 1
assignment1/data/

assignment1/src/__pycache__/
assignment1/report/

assignment2/src/__pycache__/
assignment2/report/

assignment3/src/__pycache__/
assignment3/report/
assignment3/debug_info.npz

assignment4/src/__pycache__/
assignment4/report/